body {
    margin: 0;
}

.map-container {
    position: absolute;
    top: 110px;
    left: 405px;
    width: 1270px;
    height: 760px;
    border-radius: 15px;
    overflow: hidden;
}

.custom-tooltip {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.custom-tooltip::before {
    border-top-color: #ccc;
}

.error {
    color: #dc3545;
    font-size: 12px;
    display: block;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navigation-buttons {
    margin-top: 20px;
    text-align: center;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DBECF6;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #039CD2;
    opacity: 0.8;
}
