.container img{
    width: 250px;
    height: auto;
}
.container-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #DBECF6;
    width: 600px;
    border-radius: 10px;
    border: 2px solid #000000;
}

.container-login h1{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.container-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px 0px 100px;
    margin-right: auto;
    margin-left: auto;
}

.container-login input{
    width: 80%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}

.container-login button {
    margin: 10px 0;
    padding: 8px 20px;
    background-color: #DBECF6;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.container-login button:hover{
    background-color: #039CD2;
    opacity: 80%;
    cursor: pointer;
}

.container-login p{
    padding: 10px 0px 20px 135px;
}